@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "content1 content2";
  grid-gap: 1rem;
}
